<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-5">
        <h2>Entrar</h2>
        <p class="text-primary">Entre se ja possuir uma conta criada.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Entrar &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Criar</h2>
        <p class="text-primary">Crie um login para acessar o conteudo seguro utilizando um TOKEN.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Criar conta &raquo;</a></p>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>
